.photogallery-upload {
    border-right: 1px solid #000;
}
.photogallery-upload-preview .help-message {
    width: 400px;
    border: 1px solid #000;
    padding: 1.5em;
}
.filepond--credits {
    display: none;
}
[data-controller*='photogallery'] fieldset {
    background: transparent;
}